@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');
body {
  background: rgb(90,177,174);
  background: linear-gradient(90deg, rgba(90,177,174,1) 3%, rgba(1,149,156,1) 30%, rgba(154,58,157,1) 77%);
  color: white !important;
  font-family: 'montserrat', sans-serif !important;
}

h1, h2{

}

.card{
background: rgba(197, 197, 197, 0.19);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
background-clip: padding-box;
overflow: hidden;

}

